/* @tailwind base; */
.sgm-container {
    width: 100%
}
@media (min-width: 640px) {
    .sgm-container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .sgm-container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .sgm-container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .sgm-container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .sgm-container {
        max-width: 1536px
    }
}
.sgm-sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border-width: 0 !important
}
.sgm-pointer-events-none {
    pointer-events: none !important
}
.sgm-pointer-events-auto {
    pointer-events: auto !important
}
.sgm-fixed {
    position: fixed !important
}
.sgm-absolute {
    position: absolute !important
}
.sgm-relative {
    position: relative !important
}
.sgm-inset-0 {
    inset: 0px !important
}
.sgm-inset-x-0 {
    left: 0px !important;
    right: 0px !important
}
.sgm-inset-y-0 {
    top: 0px !important;
    bottom: 0px !important
}
.-sgm-left-4 {
    left: -1rem !important
}
.-sgm-right-4 {
    right: -1rem !important
}
.sgm-bottom-0 {
    bottom: 0px !important
}
.sgm-left-0 {
    left: 0px !important
}
.sgm-right-0 {
    right: 0px !important
}
.sgm-top-1 {
    top: 0.25rem !important
}
.sgm-top-4 {
    top: 1rem !important
}
.sgm-top-5 {
    top: 1.25rem !important
}
.sgm-z-10 {
    z-index: 10 !important
}
.sgm-z-20 {
    z-index: 20 !important
}
.sgm-z-30 {
    z-index: 30 !important
}
.sgm-z-50 {
    z-index: 50 !important
}
.sgm-col-span-1 {
    grid-column: span 1 / span 1 !important
}
.sgm-m-0 {
    margin: 0px !important
}
.sgm-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important
}
.-sgm-mr-2 {
    margin-right: -0.5rem !important
}
.sgm--mr-1 {
    margin-right: -0.25rem !important
}
.sgm-mb-0 {
    margin-bottom: 0px !important
}
.sgm-mb-1 {
    margin-bottom: 0.25rem !important
}
.sgm-mb-3 {
    margin-bottom: 0.75rem !important
}
.sgm-mb-4 {
    margin-bottom: 1rem !important
}
.sgm-ml-1 {
    margin-left: 0.25rem !important
}
.sgm-ml-2 {
    margin-left: 0.5rem !important
}
.sgm-ml-3 {
    margin-left: 0.75rem !important
}
.sgm-mt-1 {
    margin-top: 0.25rem !important
}
.sgm-mt-10 {
    margin-top: 2.5rem !important
}
.sgm-mt-2 {
    margin-top: 0.5rem !important
}
.sgm-mt-3 {
    margin-top: 0.75rem !important
}
.sgm-mt-4 {
    margin-top: 1rem !important
}
.sgm-mt-5 {
    margin-top: 1.25rem !important
}
.sgm-mt-6 {
    margin-top: 1.5rem !important
}
.sgm-line-clamp-2 {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important
}
.sgm-inline-block {
    display: inline-block !important
}
.sgm-flex {
    display: flex !important
}
.sgm-inline-flex {
    display: inline-flex !important
}
.sgm-grid {
    display: grid !important
}
.sgm-hidden {
    display: none !important
}
.sgm-h-10 {
    height: 2.5rem !important
}
.sgm-h-12 {
    height: 3rem !important
}
.sgm-h-16 {
    height: 4rem !important
}
.sgm-h-20 {
    height: 5rem !important
}
.sgm-h-3 {
    height: 0.75rem !important
}
.sgm-h-32 {
    height: 8rem !important
}
.sgm-h-4 {
    height: 1rem !important
}
.sgm-h-5 {
    height: 1.25rem !important
}
.sgm-h-56 {
    height: 14rem !important
}
.sgm-h-6 {
    height: 1.5rem !important
}
.sgm-h-60 {
    height: 15rem !important
}
.sgm-h-8 {
    height: 2rem !important
}
.sgm-h-80 {
    height: 20rem !important
}
.sgm-h-\[18\.4px\] {
    height: 18.4px !important
}
.sgm-h-\[80px\] {
    height: 80px !important
}
.sgm-h-\[94px\] {
    height: 94px !important
}
.sgm-h-full {
    height: 100% !important
}
.sgm-max-h-\[800px\] {
    max-height: 800px !important
}
.sgm-min-h-28 {
    min-height: 7rem !important
}
.sgm-w-1\/3 {
    width: 33.333333% !important
}
.sgm-w-10 {
    width: 2.5rem !important
}
.sgm-w-12 {
    width: 3rem !important
}
.sgm-w-16 {
    width: 4rem !important
}
.sgm-w-2\/3 {
    width: 66.666667% !important
}
.sgm-w-3 {
    width: 0.75rem !important
}
.sgm-w-4 {
    width: 1rem !important
}
.sgm-w-4\/5 {
    width: 80% !important
}
.sgm-w-40 {
    width: 10rem !important
}
.sgm-w-5 {
    width: 1.25rem !important
}
.sgm-w-6 {
    width: 1.5rem !important
}
.sgm-w-\[18\.4px\] {
    width: 18.4px !important
}
.sgm-w-\[240px\] {
    width: 240px !important
}
.sgm-w-\[290px\] {
    width: 290px !important
}
.sgm-w-\[48\%\] {
    width: 48% !important
}
.sgm-w-\[480px\] {
    width: 480px !important
}
.sgm-w-\[94px\] {
    width: 94px !important
}
.sgm-w-auto {
    width: auto !important
}
.sgm-w-full {
    width: 100% !important
}
.sgm-max-w-3xl {
    max-width: 48rem !important
}
.sgm-max-w-7xl {
    max-width: 80rem !important
}
.sgm-max-w-\[1400px\] {
    max-width: 1400px !important
}
.sgm-max-w-full {
    max-width: 100% !important
}
.sgm-max-w-sm {
    max-width: 24rem !important
}
.sgm-max-w-xl {
    max-width: 36rem !important
}
.sgm-flex-shrink-0 {
    flex-shrink: 0 !important
}
.sgm-origin-top-right {
    transform-origin: top right !important
}
.sgm-translate-x-0 {
    --tw-translate-x: 0px !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}
.sgm-translate-x-full {
    --tw-translate-x: 100% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}
.sgm-scale-100 {
    --tw-scale-x: 1 !important;
    --tw-scale-y: 1 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}
.sgm-scale-95 {
    --tw-scale-x: .95 !important;
    --tw-scale-y: .95 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}
.sgm-transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}
@keyframes sgm-spin {
    to {
        transform: rotate(360deg)
    }
}
.sgm-animate-spin {
    animation: sgm-spin 1s linear infinite !important
}
.sgm-cursor-default {
    cursor: default !important
}
.sgm-cursor-pointer {
    cursor: pointer !important
}
.sgm-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important
}
.sgm-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}
.sgm-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important
}
.sgm-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important
}
.sgm-flex-row {
    flex-direction: row !important
}
.sgm-flex-row-reverse {
    flex-direction: row-reverse !important
}
.sgm-flex-col {
    flex-direction: column !important
}
.sgm-flex-wrap {
    flex-wrap: wrap !important
}
.sgm-items-start {
    align-items: flex-start !important
}
.sgm-items-center {
    align-items: center !important
}
.sgm-justify-start {
    justify-content: flex-start !important
}
.sgm-justify-end {
    justify-content: flex-end !important
}
.sgm-justify-center {
    justify-content: center !important
}
.sgm-justify-between {
    justify-content: space-between !important
}
.sgm-gap-1 {
    gap: 0.25rem !important
}
.sgm-gap-2 {
    gap: 0.5rem !important
}
.sgm-gap-8 {
    gap: 2rem !important
}
.sgm-gap-x-6 {
    column-gap: 1.5rem !important
}
.sgm-gap-y-10 {
    row-gap: 2.5rem !important
}
.sgm-space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse))) !important
}
.sgm-space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse))) !important
}
.sgm-space-x-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse))) !important
}
.sgm-space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(1rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse))) !important
}
.sgm-space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)) !important
}
.sgm-space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(1rem * var(--tw-space-y-reverse)) !important
}
.sgm-space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse)) !important
}
.sgm-overflow-hidden {
    overflow: hidden !important
}
.sgm-overflow-y-auto {
    overflow-y: auto !important
}
.sgm-overflow-y-scroll {
    overflow-y: scroll !important
}
.sgm-rounded-full {
    border-radius: 9999px !important
}
.sgm-rounded-lg {
    border-radius: 0.5rem !important
}
.sgm-rounded-md {
    border-radius: 0.375rem !important
}
.sgm-rounded-xl {
    border-radius: 0.75rem !important
}
.sgm-rounded-l-md {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important
}
.sgm-rounded-r-md {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important
}
.sgm-rounded-t-lg {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important
}
.sgm-border {
    border-width: 1px !important
}
.sgm-border-0 {
    border-width: 0px !important
}
.sgm-border-b {
    border-bottom-width: 1px !important
}
.sgm-border-r {
    border-right-width: 1px !important
}
.sgm-border-none {
    border-style: none !important
}
.sgm-border-gray-200 {
    --tw-border-opacity: 1 !important;
    border-color: rgb(229 231 235 / var(--tw-border-opacity)) !important
}
.sgm-border-gray-300 {
    --tw-border-opacity: 1 !important;
    border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important
}
.sgm-border-gray-400 {
    --tw-border-opacity: 1 !important;
    border-color: rgb(156 163 175 / var(--tw-border-opacity)) !important
}
.sgm-border-gray-950 {
    --tw-border-opacity: 1 !important;
    border-color: rgb(3 7 18 / var(--tw-border-opacity)) !important
}
.sgm-border-zinc-200 {
    --tw-border-opacity: 1 !important;
    border-color: rgb(228 228 231 / var(--tw-border-opacity)) !important
}
.sgm-bg-black {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important
}
.sgm-bg-gray-200 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important
}
.sgm-bg-transparent {
    background-color: transparent !important
}
.sgm-bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important
}
.sgm-bg-white\/50 {
    background-color: rgb(255 255 255 / 0.5) !important
}
.sgm-bg-zinc-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(244 244 245 / var(--tw-bg-opacity)) !important
}
.sgm-bg-zinc-100\/30 {
    background-color: rgb(244 244 245 / 0.3) !important
}
.sgm-bg-zinc-100\/50 {
    background-color: rgb(244 244 245 / 0.5) !important
}
.sgm-bg-opacity-25 {
    --tw-bg-opacity: 0.25 !important
}
.sgm-fill-zinc-200 {
    fill: #e4e4e7 !important
}
.sgm-object-cover {
    object-fit: cover !important
}
.sgm-object-center {
    object-position: center !important
}
.sgm-p-1 {
    padding: 0.25rem !important
}
.sgm-p-2 {
    padding: 0.5rem !important
}
.sgm-p-3 {
    padding: 0.75rem !important
}
.sgm-px-10 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important
}
.sgm-px-12 {
    padding-left: 3rem !important;
    padding-right: 3rem !important
}
.sgm-px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important
}
.sgm-px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important
}
.sgm-px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important
}
.sgm-px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important
}
.sgm-py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important
}
.sgm-py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important
}
.sgm-py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important
}
.sgm-py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}
.sgm-py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}
.sgm-pb-10 {
    padding-bottom: 2.5rem !important
}
.sgm-pb-20 {
    padding-bottom: 5rem !important
}
.sgm-pb-24 {
    padding-bottom: 6rem !important
}
.sgm-pb-4 {
    padding-bottom: 1rem !important
}
.sgm-pt-10 {
    padding-top: 2.5rem !important
}
.sgm-pt-2 {
    padding-top: 0.5rem !important
}
.sgm-pt-4 {
    padding-top: 1rem !important
}
.sgm-pt-5 {
    padding-top: 1.25rem !important
}
.sgm-pt-6 {
    padding-top: 1.5rem !important
}
.sgm-text-left {
    text-align: left !important
}
.sgm-text-center {
    text-align: center !important
}
.sgm-text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important
}
.sgm-text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important
}
.sgm-text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important
}
.sgm-text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important
}
.sgm-text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important
}
.sgm-text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important
}
.sgm-font-bold {
    font-weight: 700 !important
}
.sgm-font-light {
    font-weight: 300 !important
}
.sgm-font-medium {
    font-weight: 500 !important
}
.sgm-font-normal {
    font-weight: 400 !important
}
.sgm-font-semibold {
    font-weight: 600 !important
}
.sgm-normal-case {
    text-transform: none !important
}
.sgm-leading-3 {
    line-height: .75rem !important
}
.sgm-leading-7 {
    line-height: 1.75rem !important
}
.sgm-tracking-tight {
    letter-spacing: -0.025em !important
}
.sgm-tracking-wide {
    letter-spacing: 0.025em !important
}
.sgm-text-black {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important
}
.sgm-text-gray-400 {
    --tw-text-opacity: 1 !important;
    color: rgb(156 163 175 / var(--tw-text-opacity)) !important
}
.sgm-text-gray-500 {
    --tw-text-opacity: 1 !important;
    color: rgb(107 114 128 / var(--tw-text-opacity)) !important
}
.sgm-text-gray-700 {
    --tw-text-opacity: 1 !important;
    color: rgb(55 65 81 / var(--tw-text-opacity)) !important
}
.sgm-text-gray-800 {
    --tw-text-opacity: 1 !important;
    color: rgb(31 41 55 / var(--tw-text-opacity)) !important
}
.sgm-text-gray-900 {
    --tw-text-opacity: 1 !important;
    color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}
.sgm-text-orange-400 {
    --tw-text-opacity: 1 !important;
    color: rgb(251 146 60 / var(--tw-text-opacity)) !important
}
.sgm-text-primary-color {
    color: var(--primary-color) !important
}
.sgm-text-secondary-color {
    color: var(--surface-400) !important
}
.sgm-text-yellow-400 {
    --tw-text-opacity: 1 !important;
    color: rgb(250 204 21 / var(--tw-text-opacity)) !important
}
.sgm-text-zinc-400 {
    --tw-text-opacity: 1 !important;
    color: rgb(161 161 170 / var(--tw-text-opacity)) !important
}
.sgm-text-zinc-500 {
    --tw-text-opacity: 1 !important;
    color: rgb(113 113 122 / var(--tw-text-opacity)) !important
}
.sgm-text-zinc-600 {
    --tw-text-opacity: 1 !important;
    color: rgb(82 82 91 / var(--tw-text-opacity)) !important
}
.sgm-text-zinc-800 {
    --tw-text-opacity: 1 !important;
    color: rgb(39 39 42 / var(--tw-text-opacity)) !important
}
.sgm-text-zinc-900 {
    --tw-text-opacity: 1 !important;
    color: rgb(24 24 27 / var(--tw-text-opacity)) !important
}
.sgm-no-underline {
    text-decoration-line: none !important
}
.sgm-opacity-0 {
    opacity: 0 !important
}
.sgm-opacity-100 {
    opacity: 1 !important
}
.sgm-shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}
.sgm-shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}
.sgm-outline-none {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important
}
.sgm-ring-0 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important
}
.sgm-ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important
}
.sgm-ring-black {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity)) !important
}
.sgm-ring-opacity-5 {
    --tw-ring-opacity: 0.05 !important
}
.sgm-drop-shadow-2xl {
    --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15)) !important;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}
.sgm-drop-shadow-xl {
    --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08)) !important;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}
.sgm-backdrop-blur {
    --tw-backdrop-blur: blur(8px) !important;
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important
}
.sgm-backdrop-filter {
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important
}
.sgm-transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important
}
.sgm-transition-all {
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important
}
.sgm-duration-100 {
    transition-duration: 100ms !important
}
.sgm-duration-150 {
    transition-duration: 150ms !important
}
.sgm-duration-200 {
    transition-duration: 200ms !important
}
.sgm-duration-300 {
    transition-duration: 300ms !important
}
.sgm-duration-75 {
    transition-duration: 75ms !important
}
.sgm-ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important
}
.sgm-ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important
}
.sgm-ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important
}
.hover\:sgm-bg-gray-50:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity)) !important
}
.focus-visible\:sgm-outline:focus-visible {
    outline-style: solid !important
}
.focus-visible\:sgm-outline-2:focus-visible {
    outline-width: 2px !important
}
.focus-visible\:sgm-outline-offset-2:focus-visible {
    outline-offset: 2px !important
}
.focus-visible\:sgm-outline-black:focus-visible {
    outline-color: #000 !important
}
@media (min-width: 640px) {
    .sm\:sgm-col-span-2 {
        grid-column: span 2 / span 2 !important
    }
    .sm\:sgm-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important
    }
    .sm\:sgm-grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important
    }
    .sm\:sgm-px-6 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important
    }
    .sm\:sgm-text-sm {
        font-size: 0.875rem !important;
        line-height: 1.25rem !important
    }
    .sm\:sgm-duration-500 {
        transition-duration: 500ms !important
    }
}
@media (min-width: 768px) {
    .md\:sgm-col-span-3 {
        grid-column: span 3 / span 3 !important
    }
    .md\:sgm-h-10 {
        height: 2.5rem !important
    }
    .md\:sgm-min-h-full {
        min-height: 100% !important
    }
    .md\:sgm-w-10 {
        width: 2.5rem !important
    }
    .md\:sgm-grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important
    }
}
@media (min-width: 1024px) {
    .lg\:sgm-mb-10 {
        margin-bottom: 2.5rem !important
    }
    .lg\:sgm-block {
        display: block !important
    }
    .lg\:sgm-hidden {
        display: none !important
    }
    .lg\:sgm-h-4 {
        height: 1rem !important
    }
    .lg\:sgm-h-full {
        height: 100% !important
    }
    .lg\:sgm-w-4 {
        width: 1rem !important
    }
    .lg\:sgm-w-full {
        width: 100% !important
    }
    .lg\:sgm-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important
    }
    .lg\:sgm-grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important
    }
    .lg\:sgm-grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr)) !important
    }
    .lg\:sgm-space-x-14 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0 !important;
        margin-right: calc(3.5rem * var(--tw-space-x-reverse)) !important;
        margin-left: calc(3.5rem * calc(1 - var(--tw-space-x-reverse))) !important
    }
    .lg\:sgm-space-y-1 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0 !important;
        margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse))) !important;
        margin-bottom: calc(0.25rem * var(--tw-space-y-reverse)) !important
    }
    .lg\:sgm-px-0 {
        padding-left: 0px !important;
        padding-right: 0px !important
    }
    .lg\:sgm-text-base {
        font-size: 1rem !important;
        line-height: 1.5rem !important
    }
}
@media (min-width: 1280px) {
    .xl\:sgm-gap-x-8 {
        column-gap: 2rem !important
    }
}
